@font-face {
  font-family: "NanumSquareNeo";
  font-weight: normal;
  src: url("./fonts/NanumSquareNeo-dEb.ttf") format("truetype");
}

body {
  font-family: "NanumSquareNeo";
  margin: 0;
  overflow: hidden;
}
