.content_2 {
    position: fixed;
    z-index: 9999;
    top: 80px;
    left: 400px;
    width: 350px;
    height: 615px;
    text-align: center;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    outline: none;
    margin: 5px;
}

.close_btn{
    position: fixed;
    z-index: 999;
    left: 725px;
    width: 30px;
    height: 30px;
    font-size:20px;
    outline: none;
    border:none;
    cursor: pointer;
    background-color: rgb(233, 233, 233, 0.1);
}
.wrap_detail {
    display: flex;
    margin: 15px;
    padding: 15px;
    height: 100px;
    background-color: rgb(255, 255, 255);
}

.detail {
    width: 100%;
    height: auto;
    padding: 7px;
}

.wrap_review {
    display: flex;
    margin: 15px;
    padding: 15px;
    height: 410px;
    background-color: rgb(255, 255, 255);
}

.review {
    display: flex;
    margin: 10px;
    border-radius: 10;
    border: 1px solid black;
}

.review_list {
    overflow-y: scroll;
    width: 100%;
}

.review_list::-webkit-scrollbar {
    width: 10px;
}

.review_list::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 7px;
}

.review_list::-webkit-scrollbar-track {
    background-color: rgb(233, 233, 233);
    border-radius: 7px;
    box-shadow: inset 0px 0px 5px white;
}

.wrap_contents {
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 100%;

}

.description {
    font-size: 14px;

}

.date {
    font-size: 10px;
}
.rv_img{ 
    width:100px;
}
.review_btn{
    font-family: "NanumSquareNeo";
    position: fixed;
    z-index: 999;
    left: 650px;
    top: 240px;
    width: 100px;
    height: 30px;
    font-size:14px;
    outline: none;
    border:none;
    cursor: pointer;
    background-color: rgb(233, 233, 233, 0.1);
}

select{
    z-index: 999;
    left: 725px;
    width: 30px;
    height: 20px;
    font-size:15px;
    cursor: pointer;
    background-color: rgb(233, 233, 233, 0.1);
}